.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px 100px 100px 100px;
  background-color: rgb(46, 15, 185);
  padding: 10px;
}

.container  div{
    background-color: white;
    margin: 10px;
}

.nav{
      grid-column-start: 1;
  grid-column-end: 4;
}

.banner{
      grid-column-start: 1;
  grid-column-end: 4;
    grid-row-start: 2;
  grid-row-end: 4;
}

.footer{
   grid-column-start: 1;
  grid-column-end: 4;
}