.container {
  display: flex;
  grid-template-columns: auto auto auto;
  background-color: rgb(160, 0, 209);
  padding: 10px;
}
.container div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 100px;
  font-size: 30px;
  text-align: center;
}
